body {
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: #f2f2f2;
}

/* header styles */
header {
  background-color: #5654c5;
  padding: 20px;
  text-align: center;
  color: #fff;
}

header h1 {
  margin: 0;
}

/* main styles */
main {
  max-width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section.project {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

section.project h2 {
  margin-top: 0;
}

section.project p {
  flex-grow: 1;
  margin-bottom: 20px;
}

section.project .project-link {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  align-self: flex-end;
}


section.project .project-link:hover {
  background-color: #444;
}
section:hover{
    transform: scale(1.05); /* scale the card up on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 

}
section.about-me {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

section.about-me h2 {
  margin-top: 0;
}

section.about-me p {
  margin-bottom: 20px;
}

.about-me-links {
  display: flex;
  justify-content: center;
}

.about-me-link {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
}

.about-me-link:hover {
  background-color: #444;
}
/* footer styles */
footer {
  background-color: #504f9b;
  padding: 20px;
  text-align: center;
  color: #f4f4f9;
}
#p1{
  color: white;
  background-image: url(/public/Channel-app.png);
  }
#p2{
  color: rgb(255, 255, 255);
  background-color: #000000;
background-image: url(/public/chat.png);
background-repeat: no-repeat;
}
#p3{
  background-image: url(/public/fake-gram.png);
  background-color: #000000;
  color: rgb(219, 154, 154);
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
